﻿@model Restaurant.Models.LoginMV
@{
    ViewBag.Title = "Login";
}


<!-- Login Start -->

    <div class="login">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 commontop text-center">
                    <h4>Login to Your Account</h4>
                </div>
                <div class="col-sm-5 col-md-5 text-center">

                    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <i class="icofont icofont-ui-user"></i>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter User Name" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <i class="icofont icofont-lock"></i>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @*<input type="submit" value="LOG IN" class="btn btn-theme btn-md btn-wide" />*@
                            <button type="submit" class="btn btn-warning btn-lg">LOG IN</button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
<!-- Login End -->
