﻿@model Restaurant.Models.CRU_TableReservationMV
<!-- Reservation Start -->
<div id="reservationtable">
    <div class="bg-dark text-white text-center text-lg-start">
    <div class="container">
        <div class="row ">
            <!-- Title Content Start -->
            <div class="col-sm-12 commontop white text-center">
                <h4>Book Your Table</h4>
            </div>
            <!-- Title Content End -->
            <div class="col-md-12 col-12">
                <!-- Reservation Form Start -->
                @using (Html.BeginForm("BookTable", "TableReservation", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "row reservation-form", novalidate = "novalidate" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.BookingTableID)
                    <div class="form-group col-md-4 col-sm-6">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "name" } })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6">
                        @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "mobile number" } })
                        @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6">
                        @Html.EditorFor(model => model.ReservationDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "booking date (yyyy/mm/dd)" } })
                        @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6">
                        @Html.EditorFor(model => model.ReservationTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "booking time (hh:mm AM|PM)" } })
                        @Html.ValidationMessageFor(model => model.ReservationTime, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4 col-sm-6">
                        @Html.EditorFor(model => model.NoOfPersons, new { htmlAttributes = new { @class = "form-control", @placeholder = "number of persons" } })
                        @Html.ValidationMessageFor(model => model.NoOfPersons, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-12 col-md-12">
                    </div>
                    <div class="form-group col-12 col-md-12">
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">book now</button>
                        </div>
                    </div>

                }
                <!-- Reservation Form End -->
             </div>
        </div>
        </div>
    </div>
</div>
<!-- Reservation End  -->