﻿@model Restaurant.Models.CreateRetrieveUpdate_GenderMV
@{
    ViewBag.Title = "Genders";
}
<!-- Breadcrumb Start -->
<div class="bread-crumb">
    <div class="container">
        <div class="matter">
            <h2>Genders</h2>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="@Url.Content("~/Home/Index")">HOME</a></li>
                <li class="list-inline-item"><a href="@Url.Content("~/Setting/List_Genders")">Genders</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="contactus">
    <div class="container">
        <div class="row">
            <!-- Title Content Start -->
            <div class="col-sm-12 commontop text-center">
                <h4>Genders</h4>
                <div class="divider style-1 center">
                    <span class="hr-simple left"></span>
                    <i class="icofont icofont-ui-press hr-icon"></i>
                    <span class="hr-simple right"></span>
                </div>
            </div>
            <!-- Title Content End -->
            <div class="col-md-7 col-12">
                <!--  List Start  -->
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayNameFor(model => model.GenderTitle)
                                </td>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List_Genders)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GenderTitle)
                                    </td>
                                    <td>
                                        @Html.ActionLink("EDIT", "List_Genders", new { id = item.GenderID }, new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--  List End  -->
            </div>

            <div class="col-md-5 col-12">
                <!--  user type form Start  -->
                @using (Html.BeginForm("List_Genders", "Setting", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.GenderID)
                    <div class="form-group row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <i class="icofont icofont-ui-user"></i>
                            @Html.EditorFor(model => model.GenderTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Gender" } })
                            @Html.ValidationMessageFor(model => model.GenderTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="buttons">
                        @if (Model.GenderID == 0)
                        {
                            <button type="submit" class="btn btn-warning ">CREATE</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-warning">UPDATE</button>
                        }
                    </div>
                }
                <!--  user type form End  -->
            </div>
        </div>
    </div>
</div>