﻿@model Restaurant.Models.HomeMV
@{
    ViewBag.Title = "Home";
}
<!-- Slider Start -->
<div><marquee><h4 class="text-danger">SALE - SALE 15% discount on each product</h4><p class="text-success">29% Discount on 1000 Rs. Bill</p></marquee></div>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/Crouselimages/cro3-.jpg" class="d-block h-25 vw-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Crouselimages/cro2--.jpg" class="d-block h-25 vw-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Content/Crouselimages/cro1--.jpg" class="d-block h-25 vw-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Slider End  -->


@{
    if (Model.Foods != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 commontop text-center">
                    <h4>Our Popular Dishes</h4>
                </div>
                <br><br><br>

                @foreach (var item in Model.Foods)
                {
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@Url.Content(item.itemPhotoPath)" alt="Card image cap">
                        <div class="card-body">
                            <h4>@item.StockitemTitle</h4>
                            <h5>@item.itemSize</h5>
                            <p class="text-dark">Rs. @item.UnitPrice</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
<br />
<br />
<div class="container">
  
            @{
                int userid = 0;
                int usertypeid = 0;
                int.TryParse(Convert.ToString(Session["UserID"]), out userid);
                int.TryParse(Convert.ToString(Session["UserTypeID"]), out usertypeid);
                Html.RenderPartial("~/Views/TableReservation/Partial_TableReservation.cshtml", new Restaurant.Models.CRU_TableReservationMV(usertypeid, userid));
            }
        
</div>

<br /><br />

    <footer class="bg-dark text-white text-center text-lg-start ">
        <div class="container p-4">
            <div class="row-cols-1">
                <div class="col-lg-12">
                    <p>Arambagh Hooghly, 712617, INDIA</p>
                    <p>arnab@gmail.com</p>
                    <p>+91 89722 91917 | +91 97335 901034</p>
                </div>
            </div>
            <div class="row-cols-2">
                <div class="col-lg-12">
                    <p>© 2021 Copyright: BBQ-Burst.com</p>
                </div>
            </div>
        </div>
    </footer>
