﻿@{
    int userid = 0, usertypeid = 0;
    if (!string.IsNullOrEmpty(Convert.ToString(Session["UserID"])))
    {
        int.TryParse(Convert.ToString(Session["UserID"]), out userid);
    }
    if (!string.IsNullOrEmpty(Convert.ToString(Session["UserTypeID"])))
    {
        int.TryParse(Convert.ToString(Session["UserTypeID"]), out usertypeid);
    }


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#e54c2a">
    <title>BBQ-Burst</title>

    <!-- Bootstrap stylesheet -->
    <link href="~/Content/bootstrap-4.5.0/css/bootstrap.min.css" rel="stylesheet">
   <!-- <link href="~/Content/Site.css" rel="stylesheet">-->
    <!-- Switch Color Style css -->
</head>

<body class="d-flex flex-column h-100">
    <div class="wrapper">
        <div class="mb-2">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="spinner-grow text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <a class="navbar-brand text-warning" href="#">BBQ-Burst</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Content("~/Home/Index")">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="about.html">ABOUT US <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Content("~/Menu/Catagory")">OUR MENU <span class="sr-only">(current)</span></a>
                        </li>
                        @if (userid > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Content("~/TableReservation/BookingTables?id=0")">Reserve Status</a>
                            </li>
                        }

                            @if (userid > 0)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ADMIN PAGES
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @if (usertypeid == 1)
{
   
                    <a class="dropdown-item" href="@Url.Content("~/Setting/List_Genders")">Gender Types</a>
                    <a class="dropdown-item" href="@Url.Content("~/Stock/StockitemCategory")">Food Categories</a>
                    <a class="dropdown-item" href="@Url.Content("~/Stock/StockItem?id=0")">Food Items</a>
 }

                                    </div>
                                </li>


                            }
                        </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="nav-item">
                        <a class="btn btn-outline-warning my-2 my-sm-0" href='@Url.Content("~/Home/Index#reservationtable")'>Book<space>  </space>Table</a>
                    </div>
                    <div class="nav-item">
                        @if (userid <= 0)
                        {
                            <a class="btn btn-outline-warning my-2 my-sm-0" href="@Url.Content("~/User/Login")">Login</a>
                         
                            <a class="btn btn-outline-warning my-2 my-sm-0" href="@Url.Content("~/User/Register")">Register</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-warning my-2 my-sm-0" href="@Url.Content("~/User/Logout")">Logout</a>
                        }

                    </div>
                </form>
                </div>
            </nav>
        </div>
        @RenderBody()

    </div>


    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap-4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
}