﻿

    @{int usertypeid = 0;
    if (!string.IsNullOrEmpty(Convert.ToString(Session["UserTypeID"])))
    {
        int.TryParse(Convert.ToString(Session["UserTypeID"]), out usertypeid);
    }




    ViewBag.Title = "Catagory";



<h2 class="text-xl-center text-warning">Catagory</h2><br />
        if (usertypeid > 0)
        {
        <div class="container media-left">
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/Crouselimages/Food-HD-Images-04860.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Non-VEG</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href=@Url.Content("~/Menu/Nonveg") class="btn btn-danger">Explore</a>
                </div>
            </div>
            <br />
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/Crouselimages/Pasta-Wallpaper-2500x1668-68156.jpg" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">VEG</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href=@Url.Content("~/Menu/Veg") class="btn btn-success">Explore</a>
                </div>
            </div>
            <br />
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/Crouselimages/Pasta-Wallpaper-2121x1414-68157.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CHINESE</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href=@Url.Content("~/Menu/Chinese") class="btn btn-warning">Explore</a>
                </div>
            </div>
            <br />
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/Crouselimages/Screenshot (53).png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">THALI</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href=@Url.Content("~/Menu/Thali") class="btn btn-secondary">Explore</a>
                </div>
            </div>
            <br />
            <div class="card mb-3">
                <img class="card-img-top" src="~/Content/Crouselimages/Coffee-Mug-Wallpaper-1120x700-65511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">DRINK</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href=@Url.Content("~/Menu/Drink") class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
            }

        }