﻿@model Restaurant.Models.ThaliMV
@{
    ViewBag.Title = "Thali";
}

<h2>Thali</h2>

<div class="container">

    @{
        if (Model.Foods != null)
        {
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 commontop text-center">
                        <h4 class="text-warning">YOURS THALI</h4>
                    </div>
                    <br><br><br>

                    @foreach (var item in Model.Foods)
                    {
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@Url.Content(item.itemPhotoPath)" alt="Card image cap">
                            <div class="card-body">
                                <h4>@item.StockitemTitle</h4>
                                <h5>@item.itemSize</h5>
                                <p class="text-dark">Rs. @item.UnitPrice</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>