﻿@model Dblayer.StockItemTable

@{
    ViewBag.Title = "Delete";
}



<div class="contactus">
    <div class="container">
        <div class="row">
            <!-- Title Content Start -->
            <div class="col-sm-12 commontop text-center">
                <h4 class="text-warning">Delete Your Item</h4>
                <div class="table-responsive-md">
                    <table class="table table-bordered table-warning">
                        <thead>
                            <tr>
                                <th>
                                    Food Name
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Price(Rs.)
                                </th>
                                <th>
                                    Register Date
                                </th>
                                <th>
                                    Food Catagory
                                </th>
                                <th>Action</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.StockitemTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.itemSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.RegisterDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.StockitemCategoryTable.StockitemCategory)
                                </td>
                                <td>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    }
                                    <button class="btn btn-default"> @Html.ActionLink("Back to List", "Index")</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--  List End  -->


            </div>
            <!-- Title Content End -->

        </div>
    </div>
</div>