﻿@model IEnumerable<Dblayer.StockItemTable>

@{
    ViewBag.Title = "Index";
}



<div class="container">
    <div class="row">
        <!-- Title Content Start -->
        <div class="col-sm-12 commontop text-center">
            <h4 class="text-warning">Delete Your Item</h4>
            <div> @Html.ActionLink(" Want To Create", "StockItem", "Stock")</div>
            <div class="table-responsive-md">

                <table class="table table-bordered table-warning">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Food Name
                            </th>
                            <th>
                                Size
                            </th>
                            <th>
                                Price(Rs.)
                            </th>
                            <th>
                                Register Date
                            </th>
                            <th>
                                Food Catagory
                            </th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img class="mr-3" src="@Url.Content(item.itemPhotoPath)" style="width:100px;height:150px;max-width: 100%; height: auto;" alt="Images"></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockitemTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.itemSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegisterDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockitemCategoryTable.StockitemCategory)
                                </td>
                                <td>
                                    <button class="btn btn-default">
                                        @Html.ActionLink(" Want To Delete", "Delete", new { id = item.StockitemID }, new { @class = "btn btn-danger" })
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
