﻿@model Restaurant.Models.CreateRetrieveUpdate_StockItemCategoryMV
@{
    ViewBag.Title = "StockItemCategory";
}

<!-- Breadcrumb Start -->
<div class="bread-crumb">
    <div class="container">
        <div class="matter"> 
            <ul class="list-inline">
                <li class="list-inline-item"><a href="@Url.Content("~/Home/Index")">HOME</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="contactus">
    <div class="container">
        <div class="row">
            <!-- Title Content Start -->
            <div class="col-sm-12 commontop text-center">
                <h4>Food Categories</h4>
            </div>
            <!-- Title Content End -->
            <div class="col-md-7 col-12">
                <!--  List Start  -->
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Categories
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lists)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockitemCategory)
                                    </td>

                                    <td>
                                        @Html.ActionLink("EDIT", "StockitemCategory", new { id = item.StockitemCategoryID }, new { @class = "btn btn-warning" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--  List End  -->
            </div>
            <div class="col-md-5 col-12">
                <!--  user type form Start  -->
                @using (Html.BeginForm("StockItemCategory", "Stock", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.StockitemCategoryID)
                    <div class="form-group row">
                        <div class="col-md-12 col-sm-12 col-12">

                            @Html.EditorFor(model => model.StockitemCategory, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Category" } })
                            @Html.ValidationMessageFor(model => model.StockitemCategory, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="buttons">
                        @if (Model.StockitemCategoryID == 0)
                        {
                           
                            <button type="submit" class="btn btn-warning ">CREATE</button>
                        }
                        else
                        {
                            
                            <button type="submit" class="btn btn-warning">UPDATE</button>
                        }
                    </div>

                }
            </div>
        </div>
    </div>
</div>
         
