﻿
@model Restaurant.Models.CreateRetrieveUpdate_StockItemMV
@{
    ViewBag.Title = "Stock";
}
<br />
<div class="contactus">
    <div class="container">
        <div class="row">
            <!-- Title Content Start -->
            <div class="col-sm-12 commontop text-center">
                <h4 class="font-weight-bolder">Food</h4>
                <br />

                <div class="divider style-1 center">
                    <span class="hr-simple left"></span>
                    <a class="font-weight-bold text-danger" href="@Url.Content("~/Stock/Index")">Want To Delete Any Item</a>
                    <span class="hr-simple right"></span>
                </div>
                <br /><br />
            </div>
            <!-- Title Content End -->

            <div class="col-md-5 col-12">
                <!--  user type form Start  -->
                @using (Html.BeginForm("StockItem", "Stock", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.StockitemID)
                    <div class="form-group row">
                        <div class="col-md-12 col-sm-12 col-12">
                            @Html.DropDownList("StockitemCategoryID", null, "Choose Catagory", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StockitemCategoryID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 col-sm-12 col-12">
                            @Html.EditorFor(model => model.StockitemTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Food Name" } })
                            @Html.ValidationMessageFor(model => model.StockitemTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 col-sm-12 col-12">
                            @Html.EditorFor(model => model.itemSize, new { htmlAttributes = new { @class = "form-control", @placeholder = "Specify Size" } })
                            @Html.ValidationMessageFor(model => model.itemSize, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 col-sm-12 col-12">
                            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Rs." } })
                            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <label>Upload photo</label>
                    <span>@Html.TextBoxFor(model => model.PhotoPath, new {@class="upload-pic form-control-file",@type="file"})</span>
                    <div class="buttons">
                        @if (Model.StockitemID == 0)
                        {
                            <input class="btn btn-theme btn-md btn-wide" style="float:right;" type="submit" value="Create" />
                        }
                        else
                        {
                            <input class="btn btn-theme btn-md btn-wide" style="float:right;" type="submit" value="Update" />
                        }
                    </div>
                 }
                <!--  user type form End  -->
            </div>
            <div class="col-md-7 col-12">
                <!--  List Start  -->
                <div class="table-responsive-md">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">
                                    Image
                                </td>
                                <td class="text-center">
                                    Catagory
                                </td>
                                <td class="text-center">
                                    Food Name
                                </td>
                                <td class="text-center">
                                    Size
                                </td>
                                <td class="text-center">
                                    Price
                                </td>
                                <td class="text-center">
                                    Reg Date
                                </td>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lists)
                            {
                                <tr>
                                    <td>
                                        @*@if (string.IsNullOrEmpty(Model.itemPhotoPath))
                                        {
                                            <img class="mr-3" src="~/Content/Foodimages/1food.jfif" />
                                        }
                                        else
                                        {}*@
                                        <img class="mr-3" src="@Url.Content(item.itemPhotoPath)" style="width:100px;height:150px;max-width: 100%; height: auto;" alt="Images">
                                        
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockitemCategory)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StockitemTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.itemSize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegisterDate)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "StockItem", new { id = item.StockitemID }, new { @class = "btn btn-theme btn-md btn-wide" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--  List End  -->
            </div>
        </div>
    </div>
</div>